{% extends "two_factor/_base_focus.html" %}
{% block content %}
    <div class="backup_tokens_form">
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{ form.email.errors }}
                    <div class="flex-container form-group">
                        <label for="id_email">Correo electronico</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="submit-row">
                    <input class="form-control btn btn-info" type="submit" value="recuperar contraseña">
                </div>
            </fieldset>
        </form>
        <div class="submit-row">
            <a href="/account/login/" class="text-dark" >Iniciar session</a>
        </div>
        <div class="submit-row">
            <a href="/" class="text-dark">Volver al sitio</a>
        </div>
    </div>
{% endblock %}










