{% load static %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="text-black mt-8">Autoridades</h2>
      {% include 'web/divisor_titulo.html' %}	
    </div>
  </div>
</div>
<div class="container">
  <ul class="nav nav-tabs bg-req-primary justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-dark active" href="#dir_general" role="tab" data-bs-toggle="tab">Direccion General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#dir_asistencial" role="tab" data-bs-toggle="tab">Direccion Asistencial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#dir_administracion" role="tab" data-bs-toggle="tab">Dirección de Admininstración</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#dir_mantenimiento" role="tab" data-bs-toggle="tab">Dirección de Mantenimiento</a>
    </li>    
  </ul>

<!-- Tab panes -->
<div class="tab-content">

<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- DIRECCION GENERAL -->
  <div role="tabpanel" class="tab-pane fade active show" id="dir_general">
    <div class="row align-items-center mb-12 mt-2">
      <div class="col-md-6">
        <h3>Dirección General: <li>{{autoridades.direccion_general}}</li> </h3>
        <h3>OBJETIVOS:</h3>
        <ul>
          <li>Lograr, en su rol de Jefe administrativo y ejecutivo, responsable de la Institución, que las actividades que  fueron  planificadas  se  cumplan  en  los  términos  en  que   fueron expresadas y bajo la responsabilidad de las personas a quienes se asigna la tarea.</li>
          <li>Garantizar el acceso a la atención de salud,  en sus diferentes niveles y complejidades, a  toda la población infantil de sus área de  influencia  y  en  particular  a  la  de  menores recursos, proponiendo cobertura con equidad y la mejor calidad disponible</li>
          <li>Servir de unidad docente y de investigación, ajustado a su nivel de complejidad, para los profesionales de la salud.</li>
          <li>Operar como hospital  de  referencia  del  sistema  de  atención  medica  pediátrica,  en función de políticas de salud provincial definidas.</li>
        </ul>     
      </div>
      <div class="col-md-6 text-center mh-10">
        <img class="img-fluid" src="{{ menu.0.logo }}" alt="" title=""/>
      </div>
      <h3>ACCIONES:</h3>
      <ul>
        <li>PRESTAR ATENCION MEDICA CONTINUADA: Congregando  la  cantidad  de  recursos, de  diagnóstico  y  tratamiento,  esenciales,  para  reintegrar  cuanto  antes  al  paciente a su medio.</li>
        <li>BRINDAR ATENCION MEDICA INTEGRADA: Estableciendo una  fase  intermedia dentro de una red de servicios de complejidad creciente.</li>
        <li>PROCURAR ATENCION MEDICA INTEGRAL: sobre la  base  de  que  la  pertenencia del establecimiento a  una  red,  asegura la  disponibilidad  de  los  recursos  para  resolver cada  caso,  y  estableciendo una  adecuada  coordinación  entre  diferentes  niveles  y servicios de salud.</li>
        <li>POSIBILITAR  ATENCION  MEDICA  PROGRESIVA: Organizando la  atención  para  un cuidado progresivo del paciente. Según necesidades y posibilidades clínicas.</li>
        <li>CONTRIBUIRA UNA ATENCION MEDICA EFECTIVA: logrando accesibilidad, diagnóstico correcto, tratamiento oportuno y cuidados de enfermería adecuados.</li>
        <li>FAVORECER EL DESARROLLO DE AREA PROGRAMATICA: privilegiando la protección y la promoción de la salud a lo meramente asistencial.</li>
        <li>EJECUTAR PROGRAMAS DE SALUD: formalizando programas preventivos y de promoción de salud, impulsados por la autoridad sanitaria.</li>
        <li>PARTICIPAR EN LA FORMACION DE RECURSOS HUMANOS: mediante aportes esenciales al entrenamiento de los profesionales de la salud.</li>
        <li>PROMOVER EL DESARROLLO Y LA INVESTIGACION: en  el ámbito  de  la  salud, con el fin de mejorar el desempeño e impulsar una mejor calidad de atención.</li>
        <li>PRIORIZAR	ACCIONES:	con	enfoque	preventivo,	según	criterio	de	riesgo	y fundamentos de atención primaria de la salud.</li>
        <li>PROCEDER COMO MODERADOR DE COSTOS DEL MERCADO  DE LA SALUD: rol ejercido a través de la coexistencia de los sectores  público  y privado,  basado  en el mayor peso relativo del primero.</li>
        <li>Supervisar la producción hospitalaria en función de sus objetivos.</li>
        <li>Coordinar labores técnicas, médicas y administrativas.</li>
        <li>Establecer	la	organización	interna-	impulsando	una	adecuada	articulación	de	la institución intra e intersectorial.</li>
        <li>Conducir la institución hacia el logro de objetivos oportunamente propuestos (programa Hospitalario).</li>
        <li>Preservar la calidad de la atención médica, abarcando los aspectos humanos  del  trato prestado a los pacientes.</li>
        <li>Impulsar dentro de la institución labores docentes y científicas.</li>
        <li>Proporcionar con la oportunidad debida y por los conductos adecuados, la información estadística y contable que sea requerida.</li>
        <li>Proponer la inversión de recursos en el  hospital,  vigilando  igualmente  las  diversas erogaciones que deban efectuarse.</li>
        <li>Autorizar con su firma toda la documentación original que sea emitida en los diversos departamentos del hospital.</li>
        <li>Definir prioridad hospitalaria.</li>
        <li>Atender las quejas y problemas, tanto de los pacientes y sus visitas como del personal hospitalario, procurando siempre arribar a soluciones equitativas y satisfactorias.</li>
        <li>Definir reuniones con organismos de gobierno.</li>
      </ul>
    </div>
  </div>
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- DIRECCION ASISTENCIAL -->
  <div role="tabpanel" class="tab-pane fade" id="dir_asistencial">
    <br><br>
      <h3>Dirección Asistencial: <li>{{autoridades.direccion_asistencial}}</li></h3>
      <h3>OBJETIVOS:</h3>
      <ul>
        <li>Coordinar las actividades medico asistenciales de todas las especialidades, con el fin de ofrecer a los pacientes un servicio oportuno, eficiente, de alta calidad y con seguridad.</li>
        <li>Garantizar el funcionamiento de los departamentos y divisiones que conforman el área asistencial.</li>
        <li>Asegurar que la gestión asistencial se realice bajo  los  principios  de  la  gestión  clínica: atención integral y continua con otros dispositivos de la red</li>
        <li>Reducir la variabilidad de la práctica clínica, para satisfacción del usuario</li>
      </ul>
        <h3>ACCIONES:</h3>
      <ul>
        <li>Definir procesos de atención,  protocolos  y cuidados  del paciente  desde la  perspectiva de sus necesidades con una visión integral, segura y ética.</li>
        <li>Conocer, cumplir y hacer cumplir las disposiciones y normativas vigentes que hacen al área de su competencia.</li>
        <li>Mantener permanentemente  informado  al  DIRECTOR  GENERAL,   sobre  el  desarrollo de las actividades específicas.</li>
        <li>Efectuar	y	comunicar	las	informaciones	técnicas,	estadísticas	y	administrativas, solicitado por la superioridad y elevarlo en un plazo establecido.</li>
        <li>Supervisar la atención médica, de enfermería  y demás  servicios  de  apoyatura  a  través de los respectivos departamentos.</li>
        <li>Efectuar la programación, a los fines de sistematizar criterios acerca  del  diagnóstico, pronóstico y tratamientos de los pacientes internados en los distintos servicios.</li>
        <li>Programar la capacitación, instrucción y asesoramiento médico y paramédico a su cargo.</li>
        <li>Impartir  a  los  jefes  de  departamentos,  división, servicios,   instrucciones necesarias para el cumplimiento de las funciones. Deben elaborar manual de Misiones y Funciones.</li>
        <li>Aplicar ad- referéndum del  director  del  hospital,  sanciones disciplinarias  que eventualmente pudieran corresponder al personal médico y paramédico.</li>
        <li>Hacer concurrir de manera extraordinaria a todos  los  profesionales  a  su cargo,  toda  vez que sus servicios sean necesarios para la atención de los pacientes internados o por una situación de emergencia sanitaria.</li>
        <li>Examinarla documentación(Currículo  Vitae)   de   los   profesionales   postulantes   a ingresar al Hospital</li>
        <li>Conformar un  archivo  con el Currículum  de  los  profesionales  a  su cargo  versión  impresa y electrónica.</li>
        <li>Adoptar las medidas  de  control  necesarias,  para  que  los  pacientes  permanezcan internados el tiempo mínimo necesario para recuperar su salud.</li>
        <li>Coordinar con los Departamentos, Divisiones, Servicios a cargo, programas internos de capacitación a fin de mejorar la eficiencia y eficacia de su accionar hospitalario.</li>
        <li>Establecer sistemas de monitoreo de calidad de atención del paciente y desempeño del personal  asistencial  (buzones, encuestas  etc.)  valorando  estos  indicadores   para  mejorar la calidad de los servicios.</li>
        <li>Instruir para la formación e integración de los Comités; de  Investigación  y  Docencia, Bioética, Historia Clínica, Bioseguridad, Farmacia y Emergencia Hospitalaria.</li>
        <li>Requerir parte diario por escrito de las novedades de emergencia,  internado  de  clínica médica, cirugía y consultorio externo.</li>
        <li>Preparar el despacho  del  día,  velando  permanentemente  por  la  agilización  de  todo  tramite solicitado.</li>
        <li>Ejercer un severo control, a fin de que se cumplan los horarios fijados, respetando los  derechos del paciente.</li>
        <li>Visitar los Servicios del hospital, requiriendo de los jefes información y escuchar sus necesidades...</li>
        <li>Fiscalizar el rendimiento de los distintos servicios del hospital y del personal en forma individual.</li>
        <li>Solicitar metas y objetivos a alcanzar, estipular tiempo de cumplimiento.</li>
        <li>Solicitar informe de gestión toda vez que se considere necesario y a requerimiento de la superioridad.</li>
        <li>Entender en el cumplimiento de las normas de estadísticas.</li>
        <li>Solicitar  y  tener  información  estadística  actualizada  de:  promedio de   ocupación, promedio días de estada, % de ocupación cama, Nº de egresos, Nº  consultas  por  consultorio externo, Nº de consultas por emergencia, canales epidemiológicos tendencia semanal.</li>
        <li>Tomar conocimiento de las leyes, decretos y resoluciones del poder  ejecutivo  y  del ministerio del bienestar social provincial y nacional, en lo que hace a salud  pública.</li>
        <li>Cumplir y hacer cumplir los reglamentos y normas en vigencia (Estatuto del empleado público, Reglamento de guardia. Carrera Sanitaria etc.)</li>
        <li>Apoyar y colaborar con la efectivización de  los  programas  de  capacitación  de  enfermería.</li>
        <li>Gestionar los recursos materiales y humanos necesarios  para  mantener  la  capacidad operativa de los Servicios y aún más, complejizarlos buscando la excelencia en salud.</li>
        <li>Fiscalizar y controlar el patrimonio a cargo</li>
        <li>Promover actividades científicas. y cursos de capacitación a través del Comité de investigación y docencia, oficina de comunicación a distancia</li>
        <li>Coordinar  acciones  con la  Residencia   de Pediatría</li>
        <li>Examinar la documentación y  solicitudes  que  ingresan  a  la  Dirección,   priorizando   las más urgentes y por orden de importancia.</li>
        <li>Efectuar reuniones periódicas con los  jefes  de  departamento,  división,  servicios  a  los efectos de evaluar el funcionamiento de los mismos.</li>
        <li>Organizar y promover los  cambios  necesarios  para  el  buen  funcionamiento  de  las Guardias del hospital</li>
        <li>Controlar el cumplimiento de las normas de bioseguridad, a través  del  comité  de bioseguridad</li>
        <li>Dar respuesta	 adecuada a los requerimientos de orden judicial.</li>
        <li>Ordenar a los jefes de departamentos división, servicios , la redacción de:</li>
        <ul style="list-style: none;">
          <li>a)	Organigrama.</li>
          <li>b)	Cronograma de actividades diarias.</li>
          <li>c)	Flujograma del funcionamiento.</li>
          <li>d)	Normas de bioseguridad.</li>
          <li>e)	Manual de misiones y funciones</li>
          <li>f)	Planificación a corto y largo plazo.</li>
        </ul>
      </ul>
      
  </div>


<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
<!-- DIRECCION ADMINISTRACION -->
  <div role="tabpanel" class="tab-pane fade" id="dir_administracion">
    <br><br>
    <h3>Dirección Administrativa:  <li>{{autoridades.direccion_administrativa}}</li></h3>
        <h3>OBJETIVOS:</h3>
          <p class="lead">Dirigir, organizar, coordinar, ejecutar y controlar la gestión presupuestaria económica financiera y patrimonial del hospital.</p>
        
        <h3>ACCIONES:</h3>

        <ul>
          <li >Dirigir, Organizar, Coordinar, Fiscalizar y orientar todas las actividades de su área de competencia.</li>
          <li >Asistir y asesorar al Director Provincial y demás directores del hospital, en todos aquellos temas en los que la Dirección de Administración resulta competente.</li>
          <li >Producir los informes y estados contables básicos y complementarios, necesarios para la gestión del organismo.</li>
          <li >Coordinar y ejecutar las actividades que desarrollen las unidades orgánicas del hospital, a efectos de la operación de los sistemas de la Administración Financiera, Contrataciones y Administración de Bienes.</li>
          <li >Fiscalizar la gestión administrativa necesaria para la prestación de los servicios del hospital.</li>
          <li >Intervenir en todo lo atinente al régimen de aranceles por obras sociales, ingresos por alquileres y otros rubros, proyectando  aranceles en función de los costos y de los servicios prestados.</li>
          <li >Dirigir y supervisar la gestión presupuestaria, económica y financiera del organismo.</li>
          <li >Promover y supervisar la realización de convenios con otros organismos e instituciones públicas y/o privadas, que habiliten el ingreso de recursos al hospital.</li>
          <li >Dirigir, coordinar y supervisar la programación física y financiera del presupuesto de la institución, conforme a los plazos, características y metodología que determine la Dirección Provincial de Programación Presupuestaria.</li>
          <li >Dirigir y Supervisar la elaboración del Proyecto de presupuesto de gastos y cálculo de recursos del hospital.</li>
          <li >Actuar como unidad de Registro Primario del  Sistema de Contabilidad Gubernamental.</li>
          <li >Registrar sistemáticamente todas las operaciones que produzcan o afecten la situación presupuestaria, económica, financiera y/o patrimonial del hospital.</li>
          <li >Cumplir con la totalidad de las normas legales vigentes e instrucciones impartidas por Contaduría General de la Provincia, Subsecretaria de Presupuestaria y Tribunal de Cuentas de la Provincia, etc, en materia presupuestaria, financiera y  patrimonial.</li>
          <li >Brindar información presupuestaria, financiera, económica, patrimonial, legal y de gestión al Director  Provincial y a las demás Direcciones del hospital.</li>
          <li >Dirigir y supervisar la confección de los manuales de Misiones y Funciones y de Procedimientos Administrativos, así como de toda norma legal que tenga relación con su materia de competencia específica, con el fín de coadyuvar al correcto funcionamiento de los servicios hospitalarios y el cumplimiento de los objetivos de la institución.</li>
          <li >Procesar y producir información financiera oportuna y confiable, para la adopción de decisiones por parte de los responsables del hospital, para las autoridades superiores del Ministerio de Salud  y para los responsables de la gestión financiera pública.</li>
          <li >Presentar información contable con sus respectivos  respaldos documentales, a fin de posibilitar las tareas de control interno y externo.</li>
          <li >Verificar el correcto funcionamiento de los sistemas de información financiera y patrimonial, así como de los procedimientos, métodos y técnicas operativas, en orden a garantizar el cumplimiento normal de las funciones del hospital asegurar el control efectivo de las operaciones en las que intervienen la Dirección de Administración.</li>
          <li >Programar periódicamente las necesidades de bienes y servicios de la Dirección y elevarla a  la superioridad.</li>
          <li >Efectuar los requerimientos de bienes y servicios de la dirección y de sus dependencias, y elevarlos a la superioridad para su autorización.</li>
          <li >Dirigir, Coordinar, ejecutar y fiscalizar la adquisición y abastecimientos de bienes y servicios requeridos a las distintas unidades orgánicas del hospital, en el momento oportuno, al mínimo costo y en la calidad y cantidad necesaria, observando para ello, la normativa vigente en materia de contrataciones del Estado.</li>
          <li >Informar sobre los ingresos, egresos y variaciones en las provisiones de fondos para lograr un seguimiento efectivo de las operaciones corrientes a adoptar si correspondiere, las acciones correctivas necesarias en forma oportuna.</li>
          <li >Coordinar, y supervisar todas las acciones que resulten necesarias para el registro de los bienes patrimoniales en el Sistema de Administración de Bienes del Estado.</li>
          <li >Mantener las relaciones del organismo con Contaduría General de la Provincia, Tesorería General de la Provincia, Subsecretaria de Presupuestaria, y Tribunal de Cuentas.</li>
          <li >Cumplir con todas las demás funciones establecidas por las normas legales vigentes o que le sean asignadas de acuerdo con la naturaleza del cargo.</li>
        </ul>
  </div>
<!-- DIRECCION MANTENIMIENTO -->
  <div role="tabpanel" class="tab-pane fade" id="dir_mantenimiento">
    <br><br>
    <h3>Dirección Mantenimiento: <li>{{autoridades.direccion_mantenimiento}}</li></h3>
      <h3>OBJETIVOS</h3>
      <ul>
        <li>Prolongar  la  vida  útil   de la  infraestructura física.</li>
        <li>Mejorar  la  capacidad  operativa  de los servicios.</li>
        <li>Incrementar la seguridad del establecimiento ante los desastres.</li>
        <li>Limitar el deterioro de los equipos e instalaciones y, en consecuencia, la degradación del servicio prestado.</li>
        <li>Reducir al máximo los costes debidos a paradas que suponen pérdidas  del servicio, por averías accidentales de los equipos, o por el propio mantenimiento.</li>
        <li>Conseguir que la vida útil de las instalaciones, máquinas y edificios sea lo más prolongada posible, permitiendo que el valor de las inversiones permanezca activo durante el tiempo de amortización e incluso después.</li>
        <li>Proporcionar conocimientos y asistencia a partir de la experiencia adquirida, en proyectos y gestión de nuevas instalaciones.</li>
      </ul>
      
      <h3>ACCIONES</h3>
      <ul>
        <li>Lograr un correcto funcionamiento, una ránpida resoluciónn de problemas y un mánximo nivel de seguridad, en la infraestructura del edificio, instalaciones o aparatos, a fin de que la repercusiónn directa en la funciónn asistencial sea lo mejor posible.</li>
        <li>Realizar estudios, ensayos y programas sobre procedimientos y tipos de mantenimiento que se puedan implantar.</li>
        <li>Determinar los distintos sistemas de mantenimiento aplicables a las instalaciones de ingenierína y arquitectura, así como a los equipos electroméndicos, de acuerdo con el tipo de hospital, la situaciónn y los recursos téncnicos y humanos.</li>
        <li>Realizar protocolos de informes perióndicos.</li>
        <li>Estabelecer mínnimos, tanto de recursos humanos como téncnicos.</li>
        <li>Realizar estudios de viabilidad, implantaciónn y seguimiento de nuevos sistemas tecnolóngicos aplicables a la explotaciónn de instalaciones y que redunden en una disminuciónn del costo de explotaciónn, sin empeorar las condiciones de confort o mejora del rendimiento y utilidad de dichas instalaciones.</li>
        <li>Asesorar e informar sobre políticas y objetivos en materia de ingenierína hospitalaria, asín como sobre medidas correctoras que se deben tomar cuando se produzcan desviaciones.</li>
        <li>Asesorar en contrataciónn de empresas especializadas en mantenimiento de instalaciones y equipos electroméndicos, y participar como miembro activo en comisiones de concursos sobre contrataciónn de servicios de ese caráncter.
        <li>Elaborar y establecer las pautas generales para las revisiones de servicios contratados de acuerdo con la política general del hospital y los objetivos establecidos en el directorio.</li>
        <li>Elaborar y establecer los cuadros de mando.</li>
        <li>Otorgar informaciónn téncnica sobre posibles modificaciones o ampliaciones del edificio.</li>
        <li>Establecer la representaciónn en aquellas comisiones que afecten a la ingenierína y al equipamiento hospitalario.</li> 
        <li>Asesorar sobre los aspectos de competencia al resto del directorio.</li> 
      </ul>
  </div>
</div>
</div>