{% load static %}

 <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="text-black mt-8">Nuestra Historia</h2>
    </div>
	{% include 'web/divisor_titulo.html' %}	
  </div>
</div>
<div class="container">
	<p class="lead">
		<strong>De nuestro Hospital:</strong>
			Entre los años 1930 y 1940 había un grupo de damas que trabajaban en la Casa Cuna  y en ellas germinó la idea de que se hiciera un hospital para la atención de los niños de Catamarca.
			El predio donde se inició es el actual, se inició una construcción por la Sociedad de Beneficencia San Vicente de Paul  que quedó inconclusa. En  1949 la Fundación Eva Perón toma a su cargo la construcción de 2 grandes obras: el Policlínico de Niños "Presidente PERÓN", y el Hogar escuela "17 de Octubre".
	</p>
	<div class="row align-items-center mb-4">
		<div class="col-md-4 text-center">
			<img class="rounded float-right" src="{% static 'web/images/historia2.png' %}" alt="solarium" title="Inauguración: Fechas no concordantes."/>
		</div>
		<div class="col-md-8">
			<p class="lead">
				Según el Dr. Varela el Hospital se inaugura un 6 de junio de 1950
				Según la Sra. Chaya "el arribo de Eva Perón fue el 7 de junio, recibe las llaves de la ciudad y se dirige a inaugurar las obras: Hospital de Niños (Policlínico Pte. Perón)  y el Hogar Escuela 17 de octubre, ambos  dependían  de la Fundación Eva Perón, fue inaugurado el 8 de Junio de 1950, cuando arribó a Catamarca la esposa del Presidente Perón". Una vez en el hospital 3 obreros izaron la bandera Nacional, mientras el obrero José Criado pronunciaba una alocución para hacer entrega del edificio (2).
				El diario "El Laborista" de fecha 15 de Septiembre de 1951 relata la recorrida de Eva Perón acompañada de ministros Nacionales y autoridades Provinciales en recorrida el día de su inauguración  en lo que se llamó Policlínico de Niños Presidente Perón.
			</p>
		</div>
	</div>

	<div class="row align-items-center mb-4">
		<div class="col-md-4 text-center">
			<img class="rounded float-right" src="{% static 'web/images/historia1.png' %}" alt="policlinico" title="policlinico" />
		</div>
		<div class="col-md-8">
			<p class="lead">
				El Hospital comienza a prestar atención un 17 de Octubre de 1950 con 8 consultorios externos, 2 consultorios odontológicos, Farmacia, Laboratorio y  125 camas de  internación de niños de 0 a 14 años. Su 1° Director fue el Dr. Juan Carlos Iver, médico alemán, designado directamente por la Fundación de ayuda social "Eva Duarte de Perón".
			</p>
			<p class="lead">
				<strong> El área administrativa estaba a cargo del Sr. Luis Rodríguez (oriundo de Córdoba con experiencia en Hospitales) fue el 1° Administrador y por espacio de más de 20 años. Los primeros Profesionales nombrados fueron  9 más 2 médicos de Guardia</strong>; Dr. Salomón Bolomo (oftalmólogo), Dr. Eduardo Ahumada, Dr. Jorge del Pino, Dr. José Arguelles, Dr. Alejo Arias, Dra. Sara Ulloa de Buenader, Dr. Jorge Correa Herrera (Odontólogo), Dr. Luis Bolomo (Odontólogo).<br>
				Laboratorio: Dr. Enrique Díaz (1º bioquímico) renuncia al poco tiempo, en los primeros meses de 1951 y, es reemplazado por el Dr. Vicente Robin y Farmacia: Sr. Italo Cipitelli.
			</p>
		</div>
	</div>

	<p class="lead">
		<strong>Los servicios de internación eran:  Total de 125 unidades.</strong><br><br>
		<strong>EN PLANTA BAJA:</strong> Servicio de Infecciosas (10 camas).<br><br>
		<strong>1° PISO:</strong> Ala Sur: Servicio de Lactantes y Prematuros (28 cunas y 1 sala con 4 Incubadoras). Atendía niños hasta los 2 años.<br><br>

		<strong>Ala Norte:</strong> Servicio de Cirugía, Traumatología y Ortopedia (28 camas)<br>
		<strong>2° PISO:</strong> Ala Sur: Servicio de 1° Infancia (32 camas o cunas), atendía niños de 2 a 6 años.<br><br>
		<strong>Ala Norte:</strong> Servicio de 2º Infancia (23 camas), atendía niños de 6 a 14 años.<br><br>        
		Todos los servicios contaban con Office ropería que estaban provistas en los dos turnos por ropa limpia por ropería central, baños para el personal e internados,  calefacción central por losa radiante de agua caliente en cada sala, central telefónica "SIEMENS"  con conmutador y 20 líneas distribuidas en todos los servicios.<br><br>
		<strong>GUARDIA:</strong><br>
		El Consultorio de Guardia ubicado en planta baja sur del hall de entrada, atendía a todo niño que llegara al hospital sin discriminar su estado pues por disposición de la Señora de Perón no se podía volver sin ser atendido por el médico, funcionaba en gran parte como un consultorio externo más.
		En 1950 la Fundación envía  2 Médicos de Guardia: Dr. Jaime Narsi y Dr. Salomón Abadi oriundos de Capital Federal (2), que se vuelven a Bs As en Enero de 1951, previo a ello 2 meses antes, en noviembre de 1950 ingresa el Dr Bruno Eleodoro Giorgi (guardia y clínica General) que es dejado cesante en 1955 con la llamada Revolución Libertadora.
		En el año 1955 con la llamada Revolución Libertadora se hace cargo de la Dirección el Dr. Ernesto Acuña, desaparece el nombre de la Fundación por el de Instituto Nacional de Asistencia Social (INAS), se elimina el nombre de Presidente Perón del Hospital de Niños y se le agrega  "de Catamarca".<br>
	</p>

	<div class="row align-items-center mb-4">
		<div class="col-md-4 text-center">
			<img class="rounded float-left" src="{% static 'web/images/historia4.png' %}" title="solarium" />
		</div>
		<div class="col-md-8">
			<p class="lead">
				En Diciembre de 1955 ingresa el Dr. Sebastian Dimartino y en el año 1957 el Dr Gilberto Tula.<br>En sus BODAS de PLATA durante la Gobernación del Dr. Hugo Mott, era Director del Hospital  de Niños el Dr. Oscar Sutin, estuvo presente el 1º director  Dr. Iver que vino de Bs As.  (diario "El Sol" del 7 de Junio de 1975).
			</p>
			<p class="lead">
				En 1978 ambos Hospitales (Niños y HSJB) fueron transferidos a la Administración Provincial.<strong>Aquí se puede ver al 1º Cirujano infantil Dr. Mario Argentino Luna que también fue Director del Hospital de Niños, año 1985.</strong><br>
				El 13 de Agosto del 2000 se inauguró la remodelación y ampliación del Hospital con la Presencia del Presidente de la Nación el Dr. Fernando de La Rua que reinstala el nombre de Hospital Interzonal de Niños Eva perón, y el traspaso desde el HSJB fue en noviembre del 2000. En ese entonces era Director el Dr. Hugo Alem y se recibió Equipamiento y mobiliario.
			</p>
		</div>
	</div>
	
	<img class="rounded float-center" src="{% static 'web/images/historia5.png' %}" title="Cirujano Infantil"/>    
	<img class="rounded float-center" src="{% static 'web/images/historia3.png' %}" title="policlinico"/>
	
	<hr>
	<br>
	<strong>FUENTES BIBLIOGRAFICAS:</strong><br><br>
	<p class="lead">
		<strong>Material aportado por la Dra. Elvira Marafini, de su discurso como Directora General, durante el Festejo del 62º Aniversario del Hospital de Niños "Eva Perón".</strong><br>
		<br>
		1º) "Nosotros los médicos" del Dr. Julio Edgardo Varela noviembre de 2002.<br><br>
		2º)"Dr. Felix Antonio Nazar  Interventor Federal de Catamarca 1949-1952"<br> 
		Sara del Valle Chaya . Editorial Sarquis 2000<br><br>
		3º) El diario El Laborista de fecha 15 de Septiembre de 1951 relata la recorrida de Eva Perón acompañada de ministros Nacionales y autoridades Provinciales en recorrida el día de su inauguración  en Lo que se llamó Policlinico de Niños Presidente Perón. Llevaba en ese entonces creados 76 centros asistenciales en todo el país y se hacía referencia a "los derechos del niño a una atención integral" "el olvido de la niñez es renunciar a  "porvenir"
		Era en ese entonces financiado por el Ministerio de Hacienda de la Nación que destinaba un % de lo producido neto de la Loteria de Beneficencia Nacional y Casinos.<br><br>
		4º) Diario El Sol del 7 de Junio de 1975.
	</p>
</div>
<hr>




