{% load static %}
{% if noticias %}
    <div class="bg-req-quaternary">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-black mt-8 text-white"> H.I.N.E.P - Noticias </h2>
                    </div>
                </div>
            </div>
            <div class="row card-group">
                {% for noticia in noticias %}
                    {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                        </div><div class="row">
                    {% endif %}
                    <div class="col-md-4 g-3">
                        <div class="card" style="">

                            
                            <img src="{% if noticia.imagen %} {{ noticia.imagen.url }} {% else %} /static/web/images/logo.png {% endif %}" class="img-fluid card-img-top"  style="{% if noticia.imagen %} max-height: 18rem; {% endif %}">

                            <div class="card-header bg-req-quaternary">
                                <a href="/noticia/{{ noticia.token }}">
                                    <h5 class="card-title text-white text-uppercase">{{ noticia.titulo }}</h5>
                                </a>
                            </div>
                            {% if noticia.contenido|length %}
                            <div class="card-body">
                                <p class="card-text">{{ noticia.copete}}</p>
                                {% comment %} <p class="card-text">{{ noticia.contenido }}</p> {% endcomment %}
                                {% comment %} <p class="card-text">{{ noticia.attributes.visitas }}</p> {% endcomment %}
                                {% comment %} <p class="card-text">{{ noticia.id }}</p> {% endcomment %}
                            </div>
                            {% endif %}
                            <div class="card-footer">
                                <p class="card-text">{{ noticia.fecha_publicacion }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% comment %}
                {% if mas_noticias.included|length > 1 %}
                    {% for d in mas_noticias.included %}
                        <h2 class="text-center">{{ d.attributes.componente.attributes.titulo }}</h2>
                        {{ d.attributes.componente.attributes.texto|safe }}
                    {% endfor %}
                {% endif %}
            {% endcomment %}
        </section>
    </div>
{% endif %}
