
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="text-black mt-8">Funciones Principales</h2>
    </div>
    {% include 'web/divisor_titulo.html' %}	
  </div>
</div>
<div class="container">
  <ul style="list-style: none;">
    <li><i class="fa fa-cube"></i><strong>PRESTAR ATENCIÓN MEDICA CONTINUADA:</strong>
      <p>Congregando la cantidad de recursos, de diagnostico y tratamiento, esenciales, para reintegrar cuanto antes al paciente a su medio.</p></li>
    <li><i class="fa fa-cube"></i><strong>BRINDAR ATENCIÓN MEDICA INTEGRADA:</strong>
      <p>Estableciendo una fase intermedia dentro de una red de servicios de complejidad creciente.</p></li>
    <li><i class="fa fa-cube"></i><strong>PROCURAR ATENCIÓN MEDICA INTEGRAL:</strong>
      <p>sobre la base de que la pertenencia del establecimiento a una red, asegura la disponibilidad de los recursos para resolver cada caso, y estableciendo una adecuada coordinación entre diferentes niveles y servicios de salud</p></li>
    <li><i class="fa fa-cube"></i><strong>POSIBILITAR ATENCIÓN MEDICA PROGRESIVA:</strong>
      <p>Organizando la atención para un cuidado progresivo del paciente. Según necesidades y posibilidades clínicas.</p></li>
    <li><i class="fa fa-cube"></i><strong>CONTRIBUIR A UNA ATENCIÓN MEDICA EFECTIVA:</strong>
      <p>logrando accesibilidad, diagnostico correcto, tratamiento oportuno y cuidados de enfermería adecuados.</p></li>
    <li><i class="fa fa-cube"></i><strong>FAVORECER EL DESARROLLO DE ÁREA PROGRAMÁTICA:</strong>
      <p>privilegiando la protección y la promoción de la salud a lo meramente asistencial.</p></li>
    <li><i class="fa fa-cube"></i><strong>EJECUTAR PROGRAMAS DE SALUD:</strong>
      <p>formalizando programas preventivos y de promoción de salud, impulsados por la autoridad sanitaria.</p></li>
    <li><i class="fa fa-cube"></i><strong>PARTICIPAR EN LA FORMACIÓN DE RECURSOS HUMANOS:</strong>
      <p>mediante aportes esenciales al entrenamiento de los profesionales de la salud.</p></li>
    <li><i class="fa fa-cube"></i><strong>PROMOVER EL DESARROLLO Y LA INVESTIGACIÓN:</strong>
      <p>en el ámbito de la salud, con el fin de mejorar el desempeño e impulsar una mejor calidad de atención.</p></li>
    <li><i class="fa fa-cube"></i><strong>PRIORIZAR ACCIONES:</strong>
      <p>con enfoque preventivo, según criterio de riesgo y fundamentos de atención primaria de la salud.</p></li>
    <li><i class="fa fa-cube"></i><strong>PROCEDER COMO MODERADOR DE COSTOS DEL MERCADO DE LA SALUD:</strong>
      <p>rol ejercido a través de la coexistencia de los sectores público y privado, basado en el mayor peso relativo del primero</p></li>
  </ul>
</div>
