{% load static %}
<div class="bg-req-quaternary">
    <section>
      <div class="row text-center">
        
        <!-- Elemento 1 (sin enlace) -->
        <div class="col-md-3 aos-init aos-animate" data-aos="fade-up">
          <div class="p-3 text-white rounded">
            <div class="mb-2">
              <i class="icono-arg-equipo fs-1"></i> <!-- Bootstrap Icons -->

            </div>
            <h5>¡Hola!</h5>
            <p><strong>Bienvenido al Hospital<br>¿En qué podemos ayudarte?</strong></p>
          </div>
        </div>

        <!-- Elemento 2 -->
        <div class="col-md-3  aos-init aos-animate" data-aos="fade-up">
          <a href="/#sugerencias" class="text-decoration-none text-dark" id="ico_sugerencia">
            <div class="p-3 text-white rounded">
              <div class="mb-2">
                <i class="icono-arg-tablero-gestion fs-1"></i>
              </div>
              <h5>Contanos tu experiencia</h5>
              <p><strong>Tú opinión nos importa</strong></p>
            </div>
          </a>
        </div>

        <!-- Elemento 3 -->
        <div class="col-md-3  aos-init aos-animate" data-aos="fade-up" id="ubicacion"> 
          <a href="https://maps.app.goo.gl/EqRuC1zLpE9oTY8s5" target="parent" class="text-decoration-none text-dark">
            <div class="p-3 text-white rounded">
              <div class="mb-2">
                <i class="icono-arg-marcador-ubicacion-1 fs-1"></i>
              </div>
              <h5>Cómo llegar</h5>
              <p><strong>Todas las alternativas para<br>llegar al Hospital</strong></p>
            </div>
          </a>
        </div>

        <!-- Elemento 4 -->
        <div class="col-md-3 aos-init aos-animate" data-aos="fade-up">
          <a href="/#contacto" class="text-decoration-none text-dark">
            <div class="p-3 text-white rounded">
              <div class="mb-2">
                <i class="icono-arg-telefono-lineal fs-1"></i>
              </div>
              <h5>Contacto</h5>
              <p><strong>Pacientes del Interior</strong></p>
            </div>
          </a>
        </div>

      </div>
  </section>
</div>        