<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="text-black mt-8">Nuestro Hospital</h2>
        </div>
        {% include 'web/divisor.html' %}	
    </div>
</div>
<div class="container">
    <p>
        <strong>El Hospital Interzonal de Niños  Eva Perón</strong> también conocido como <strong>HINEP</strong>, es un hospital público  gratuito, único   establecimiento con internación especializada en pediatría  de Nivel III A y  que cuenta con  la única terapia intensiva pediátrica de la provincia.<br> 
        Es  centro de referencia cuya  misión  es brindar  atención medica  integral  de calidad, con respeto y centrada en el paciente:   niños, niñas y adolescentes desde los 45 días hasta los 15 años de edad.<br>
        Su visión,  ser referente en la atención pediátrica, innovando y mejorando continuamente para brindar la mejor experiencia a los pacientes y sus familias.<br>
        El Hospital  cuenta con 100 camas distribuidas en Unidad de terapia intensiva pediátrica (UITP), Unidad de cuidados intermedios (UCIM), Clínica médica , Clínica quirúrgica, Servicio de Oncohematología y Sala de internación abreviada (SIA).<br>
        Su carteraprestacional incluyen: Servicio de Pediatría,  ORL, Oftalmología, Traumatología, Cardiología, Gastroenterología, Endocrinología, Nefrología, Neumonología, Dermatología, Neurología, Psiquiatría, Ginecología, Infectología, Cirugía,  Quemados, Odontología, Fonoaudiología, Psicología, Psicomotricidad, Psicopedagogía, Nutrición y  Kinesiología 
        Contamos con servicios complementarios de Laboratorio: Bacteriología y Virología, Farmacia, Servicio Social, Diagnóstico por imágenes: Radiología, Ecografía y Tomografía.<br>
        Nuestro centro quirúrgico  cuenta con  tres quirófanos y  área de recuperación, equipado con tecnología avanzada y  personal capacitado en  Anestesia,  instrumentación quirúrgica y  enfermería, crucial para garantizar la seguridad y el bienestar del paciente. 
        Contamos con dos servicios innovadores  en asistencia:<br>
        La telemedicina y  la Oficina de comunicación a distancia  a través de   tecnología de  comunicación e información  brinda atención médica a distancia ofreciendo reducción de costos y flexibilidad para los pacientes con dificultades para trasladarse.
        Y La oficina de acompañamiento de pacientes que permite mejorar la comunicación entre los pacientes y sus familias con la Institución, brindando apoyo,  resolución de problemas y orientación durante los procesos de atención.  
        Ambos servicios dan cuenta  de nuestro compromiso en fomentar la cultura de atención centrada en el paciente.<br>
        El  Departamento de capacitación y docencia trabaja fuertemente en la formación y capacitación de residentes y estudiantes de las carreras de salud y  es un espacio fundamental  donde  se lleva adelante la capacitación  de su recurso humano, apostando a la formación continua. Cada área  juega un papel importante en la provisión de cuidado integral,  incluyendo el Departamento de informática  que acompaña el crecimiento y los avances tecnológicos . Colaborando en la comunicación efectiva entre los profesionales de la salud,  los pacientes  y las familias, punto clave  para la mejorar nuestra atención médica.
    </p>

</div>
