<section >
  <div class="container mt-3">
    <h1 class="text-center txt-primary mb-4"> <strong>Cómo llegar en transporte público</strong> </h1>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 p-10">
        <div class="card h-100 d-flex flex-column border-light" data-aos="fade-up">
          <div class="center card-head text-warning">
            <i class="fa-5x fa-solid fa-bus-simple"></i>
          </div>
          <div class="card-body text-center">
            <h3>Desde el Sector Norte:</h3>
            <h5><strong>104</strong>: descenso en Av Guemes frente Nodo Tecnologico, a una cuadra del Hospital</h5>
            <h5><strong>106</strong>: descenso en Av Virgen del Valle frente al Hospital</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 p-10">
        <div class="card h-100 d-flex flex-column border-light" data-aos="fade-up">
          <div class="center card-head text-info">
            <i class="fa-5x fa-solid fa-bus-simple"></i>
          </div>
          <div class="card-body text-center">
            <h3>Desde el Sector Sur:</h3>
            <h5><strong>105 A,B,C</strong>: descenso en calle Ministro Dulce y Virgen del Valle frente al Hospital</h5>
            <h5><strong>108 - Rapido</strong>: descenso en Av Virgen del Valle frente al Hospital</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 p-10">
        <div class="card h-100 d-flex flex-column border-light" data-aos="fade-up">
          <div class="center card-head text-danger">
            <i class="fa-5x fa-solid fa-bus-simple"></i>
          </div>
          <div class="card-body text-center">
            <h3>Desde el Sector Este:</h3>
            <h5><strong>202 B</strong>: descenso en Av Virgen del Valle frente al Hospital</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
